@font-face {
  font-family: firstone;
  src: url("./Fonts/AguafinaScript-Regular.ttf");
}
@font-face {
  font-family: secondone;
  src: url("./Fonts/LuckiestGuy.ttf");
}
@font-face {
  font-family: thirdone;
  src: url("./Fonts/Parisienne-Regular.ttf");
}
body{
  background-color: sienna;
  background-image: linear-gradient(315deg ,transparent 5%, rgb(8, 57, 70),black,rgb(8, 57, 70),sienna);
  font-family: secondone;
}
.parentContainer{
  box-sizing: border-box;
  /*border: 1px solid red;*/
  width: 50%;
  margin: 5vh 25%;
  height: 90vh;
  background-color: #ddd;
  border-radius: 10%;
  background-image: linear-gradient(to bottom right, yellow,purple);
}
button{
  background-color: rgb(69, 151, 28);
  border-radius: 8px;
  height: 30px;
  font-family: secondone;
}
